.projects, .plans{
  display: flex;
  flex-wrap: wrap;
  & .card__header{
    height: 15em;
    overflow-y: auto;
    //outline: 1px solid red;
    position: relative;
    border-radius: .5em;
  }
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  & .card__title{
    border-top: 1px solid lightgray;
    padding: .5em 0;
  }
}
.projects__title, .plans__title{
  display: block;
  width: 100%;
  margin-bottom: 0;
}

@media screen and (min-width: 640px){
  .projects .card__container, .plans .card__container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    //border:1px solid red;
    //border-radius: .5em;
    //padding: 1em;
  }
  .projects .card, .plans .card{
    width: 47%;
  }
}

@media screen and (min-width: 768px){
  .projects .card, .plans .card{
    width: 45%;
  }
}

